@charset "utf-8";

/* **** reset **** */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,embed,figure,figcaption,footer,header, hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video, input {margin:0; padding:0; border:0;}
div, span, p, ul, li, dl, dt, dd, ol, a, input[type="text"], input[type="password"], input[type="file"], input[type="tel"], input[type="number"], button, textarea, h1, h2, h3, h4, h5, h6 {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a, a:visited {margin:0; padding:0; font-size:100%;text-decoration:none;color:black;}
a:hover {text-decoration:none;}
body{line-height:1;-webkit-text-size-adjust: none; -ms-text-size-adjust: none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
fieldset, img, abbr, acronym {border:0 none;}
ol, ul { list-style:none; }

caption {visibility:hidden; font-size:0px; width:1px; height:1px; line-height:0;border:0;margin: 0;padding: 0;border:0;}
table.adm_type01 {border-collapse: separate; border-spacing:0; border:0 none;margin: 0;padding: 0;border:0;}
table.adm_type01 > thead,table.adm_type01 > tbody,table.adm_type01 > tfoot,table.adm_type01 > thead > tr,table.adm_type01 > thead > th,table.adm_type01 > thead > td,table.adm_type01 > tbody > tr,table.adm_type01 > tbody > th,table.adm_type01 > tbody > td,table.adm_type01 > tfoot > tr,table.adm_type01 > tfoot > th,table.adm_type01 > tfoot > td {margin: 0;padding: 0;border:0;}
address {font-weight:normal; font-style:normal;}
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote,q { quotes:"" ""; }
hr { display:none; }
.clearfix:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}
input, select {vertical-align:middle;}
textarea {overflow: auto; vertical-align:top;}
img {vertical-align:top; border: 0 none; -ms-interpolation-mode: bicubic;}
mark {background-color:#ff9;color:#000; font-style:italic; font-weight:bold;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption { display: block }
audio,canvas, video {display: inline-block;}
nav ul {list-style:none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0 none;padding: 0;margin:0;}
button {padding: 0;margin: 0;border:none;background:none;outline:none;cursor:pointer;overflow:visible;vertical-align:middle;}
button[disabled], input[disabled] {cursor: default;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0;}
svg:not(:root) {overflow: hidden;}

[hidden] {display: none;}

/* **** common **** */
/* font */
@font-face{
	font-family: NanumGothic;
	src: url(../fonts/NanumGothic.eot);
	src: local('※'), url(../fonts/NanumGothic.woff) format('woff');
	font-style: normal;
	font-weight: normal;
}
html, body {width:100%; height:100%;line-height: 1;font-size:14px;font-family:AppleSDGothicNeo-Light, "나눔고딕", "NanumGothic", NanumGothic, "돋움", Dotum, "굴림", Gulim, Helvetica, Arial, HelveticaNeue-Light, sans-serif-light, AppleGothic, sans-serif;-webkit-text-size-adjust: none; -ms-text-size-adjust: none;}

.alert-brw-update {position:absolute; top:0; left:0;width:100%;padding: 20px 0;z-index:1040;border-bottom:1px #e1e1e1 solid;}
.alert-brw-update .bg {position:absolute; top:0; left:0;width:100%;height: 100%;background: #000;opacity: 0.8;*filter: alpha(opacity=80);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";z-index: 1050;}
.alert-brw-update .update_cts {position: relative;z-index: 1060;font-size: 15px;color:#fff;text-align: center;line-height: 1.4;}
.alert-brw-update .update_cts a {color:#ff3000;font-size: 20px;text-decoration: underline;}
.alert-brw-update .btn-update-close {position: absolute;bottom: 0;right: 0;font-size: 40px;color: #fff;z-index: 1060;}
.alert-brw-update .hid_check {position: relative;padding: 10px 0;text-align: center;font-size: 13px;}
.alert-brw-update .hid_check label {line-height: 1.1;}

/* 컨텐츠바로가기 */
#accessibility {width:100%; position:relative; top:-4px; left:0; z-index:1000;}
#accessibility ul li,
#accessibility p {width:100%; position:absolute; top:-1px; left:0;}
#accessibility a,
#accessibility a:link {margin:0 0 -1px 0; width:100%; height:1px; font-size:1em; display:block; overflow:hidden;text-decoration:none;}
#accessibility a:active,
#accessibility a:focus,
#accessibility a:hover {padding:23px 0 36px 0; width:100%;font-weight:bold; color:#fff; text-align:center; background:#000; float:left; clear:left;}

/*hide_class*/
.hid {font-size:0; line-height:0; width:1px; height:1px; overflow:hidden; position:absolute; border: 0;margin: -1px; padding: 0;}

/* 텍스트 정렬 */
.tac {text-align:center !important;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}
.vat {vertical-align: top !important;}
.vam {vertical-align: middle !important;}

/*폰트 사이즈*/
.fs11 {font-size: 11px !important;line-height: 1.2;}
.fs12 {font-size: 12px !important;line-height: 1.2;}
.fs13 {font-size: 13px !important;line-height: 1.2;}
.fs14 {font-size: 14px !important;line-height: 1.2;}
.fs15 {font-size: 15px !important;line-height: 1.2;}

/* bold */
.b {font-weight:bold !important;}

/* 포인트 컬러 */
.fc_red {color:#000 !important;}
.fc_blue {color:#000 !important;}
.fc_bk {color:#000 !important;}
.fc_gr {color:#000 !important;}

/* float */
.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}
.cl {clear:both !important;}

/*display*/
.dpb {display: block !important;}
.dpib {display: inline-block !important;}
.dpi {display: inline !important;}

/* margin */
.m0 {margin:0 !important;}
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}

.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}

/* padding */
.p0 {padding:0 !important;}
.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}

.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}

.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}

/* border */
.bdtn {border-top:none !important;}
.bbn {border-bottom:none !important;}
.bln {border-left:none !important;}
.brn {border-right:none !important;}

/* 라인 */
.line01 {clear:both;width:100%;border-bottom:1px #e2e2e2 solid;}

/* 인풋 */
input.ip01 {border:1px #e2e2e2 solid;padding: 0 10px;height:32px;line-height:32px;font-family:"나눔고딕", "NanumGothic", NanumGothic;font-size:13px;color:#666;/*border-radius:0px 0px; 모바일 라운드 삭제*//*-webkit-appearance:none; 폼요소 기본 스타일 삭제*/}
input.ip02 {border:1px #e2e2e2 solid;height:15px;line-height:15px;font-family:"나눔고딕", "NanumGothic", NanumGothic;font-size:13px;text-align:center;color:#666;}
input[type="file"] {padding: 0;padding: 4px 0;background: #fff;}
select.sel01 {border:1px #e2e2e2 solid;padding: 7px 0 6px 0;font-family:"나눔고딕", "NanumGothic", NanumGothic;font-size:13px;color:#666;}
textarea.txta01 {border:1px #e2e2e2 solid;padding:10px 0 10px 10px;font-family:"나눔고딕", "NanumGothic", NanumGothic;font-size:13px;color:#666;}

textarea[disabled],
input[disabled],
select[disabled] {background: #ddd;}

/* 버튼 */
.hgbtn {display:inline-block;vertical-align: middle;font-family:"나눔고딕", "NanumGothic", NanumGothic;border:0;border:none;outline:none;background:none;}
.hgbtn:hover {}

/* 버튼 컬러 */
.hgbtn.grey01 {height:30px;line-height:27px;padding: 0 15px;font-size: 14px;font-weight: 600;color: #fff !important;background-color: #222;}
.hgbtn.grey01:hover {background-color:#111;}

.hgbtn.grey02 {height:30px;line-height:27px;padding: 0 15px;font-size: 14px;font-weight: 600;color: #fff !important;background-color: #707070;}
.hgbtn.grey02:hover {background-color: #686868;}

.hgbtn.blue01 {height:30px;line-height:27px;padding: 0 15px;font-size: 14px;font-weight: 600;color: #fff !important;background-color: #3894d7;}
.hgbtn.blue01:hover {background-color: #4992c7;}

.hgbtn.blue02 {height:30px;line-height:27px;padding: 0 15px;font-size: 14px;font-weight: 600;color: #fff !important;background-color: #2a56bf;}
.hgbtn.blue02:hover {background-color: #3557a8;}

.hgbtn.red01 {height:30px;line-height:27px;padding: 0 15px;font-size: 14px;font-weight: 600;color: #fff !important;background-color: #c00000;}
.hgbtn.red01:hover {background-color: #7d0d0d;}

.hgbtn.grn01 {height:30px;line-height:27px;padding: 0 15px;font-size: 14px;font-weight: 600;color: #fff !important;background-color: #28b488;}
.hgbtn.grn01:hover {background-color: #2c9a77;}

/* 버튼 height 사이즈 */
.hgbtn.hsize30 {height:30px !important;line-height:30px !important;font-size:15px !important;}

.hgbtn[disabled] {cursor: default;background: #ddd !important;border:1px #a0a0a0 solid;color: #888 !important;}

/* 버튼 아이콘 */
.hgbtn.ico_whArr {
	padding-left:23px;
	background-image: url(../image/bl_whArr.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}
.hgbtn.ico_whUp {
	padding-left:23px;
	background-image: url(../image/bl_whUp.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}
.hgbtn.ico_whDown {
	padding-left:23px;
	background-image: url(../image/bl_whDown.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}

/*레이어 팝업*/
.lypop {position: absolute;top: 0;left: 0;z-index: 500;width: 100%;padding: 0 5%;display: none;}
.lypop > .inner {position: relative;padding: 15px 0;border:3px #008680 solid;background: #fff;}
.lypop > .inner:after {display:block; clear:both; content:"."; visibility:hidden; height:0;}

@media only screen and (min-width: 480px) {}
@media all and (min-width: 640px) {}

/*TABLET*/
@media all and (min-width: 768px) {}
@media all and (min-width: 768px) and (max-width:1023px) {}

/* 아이패드 미니 가로 */
@media all and (min-device-width : 768px) and (max-device-width : 1023px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  {}

@media all and (min-width: 1024px) {}
@media all and (min-width: 1280px) {}